
//Import the lato font from Google Fonts.
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$default-font: 'Lato', sans-serif;
$gradient-start-color:  #bd1c1c;
$grandient-middle-color: #de7575;
$gradient-end-color: #ffffff;
